body{
    text-align: center;

}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;



}
.red{
    background-color: brown;
}
.yellow{
    background-color: rgb(144, 144, 25);
}
.green{
    background-color: rgb(107, 141, 73);
}
.purpule{
    background-color: rgb(143, 121, 164);
}
.flash{ background-color: azure;}
.userFlash{
    background-color: green;
}
